.App {
  font-family: "Open Sans Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  // background-color: #f9f9f9;

  & .page_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
    max-width: 1400px;
    margin: 0 auto;
  }

  & .navbar_wrapper {
    background-color: #f9f9f9;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 999px) {
  .App {
    & .page_wrapper {
      padding: 20px 20px;
    }
  }
}

@media (max-width: 767px) {
  .App {
    & .page_wrapper {
      padding: 10px;
    }
  }
}
