.category {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.goBackCategory {
  cursor: pointer;
  align-self: flex-start;
  &:hover {
    font-weight: bold;
  }
}
